<!-- <app-template-driven-model></app-template-driven-model> -->
<!-- <app-template-driven-form></app-template-driven-form> -->
<!-- <app-product-driven-form></app-product-driven-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-reactive-form-formbuilder></app-reactive-form-formbuilder> -->
<!-- <app-reactive-practice></app-reactive-practice> -->
<!-- <app-reactive-formbuilder-practice></app-reactive-formbuilder-practice> -->
<!-- <app-signup-formbuilder></app-signup-formbuilder> -->
<!-- <app-product-reactive-form></app-product-reactive-form> -->
<app-product-reactive-formbuilder></app-product-reactive-formbuilder>
<!-- <app-registration-template-form></app-registration-template-form> -->
<!-- <app-mock></app-mock> -->
<!-- <app-retrivetable></app-retrivetable> -->