<!-- <div class="container mt-5 w-50  bg-dark text-white">
    <div class="row">
        <h3 class="text-center p-5" >Template driven form</h3>

    </div>
    <form #signupForm="ngForm" (ngSubmit)="save(signupForm)">
        <div class="mb-3">
            <label for="id1" class="form-label">First Name</label>
            <input type="text" class="form-control" id="id1" name="fName" ngModel required pattern="[A-Z][a-z]{2,10}"
                minlength="2" #fName="ngModel">
            <div class="row" *ngIf="fName.touched &&  fName.invalid">
                <div class="invalid-feedback d-block" *ngIf="fName.errors?.['required']">It is required</div>
                <div class="invalid-feedback d-block" *ngIf="fName.errors?.['pattern']">Please enter the valid name
                </div>
                <div class="invalid-feedback d-block" *ngIf="fName.errors?.['minlength']">Minimum 2 characters are
                    required</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="id2" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="id2" name="lName" ngModel required pattern="[A-Z][a-z]{5,15}"
                minlength="2" #lName="ngModel">
            <div class="row" *ngIf="lName.touched &&  lName.invalid">
                <div class="invalid-feedback d-block" *ngIf="lName.errors?.['required']">It is required</div>
                <div class="invalid-feedback d-block" *ngIf="lName.errors?.['pattern']">Please enter the valid name
                </div>
                <div class="invalid-feedback d-block" *ngIf="lName.errors?.['minlength']">Minimum 2 characters are
                    required</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="id3" class="form-label">Mobile No:</label>
            <input type="text" class="form-control" id="id3" name="mobno" ngModel required pattern="[789][0-9]{9}"
                #mobno="ngModel">
            <div class="row" *ngIf=" mobno.touched && mobno.invalid ">
                <div class="invalid-feedback d-block" *ngIf="mobno.errors?.['required']">it is required</div>
                <div class="invalid-feedback d-block" *ngIf="mobno.errors?.['pattern']">Please enter valid name</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="id4" class="form-label">Email-Id</label>
            <input type="text" class="form-control" id="id4" name="email" ngModel required
                pattern="[a-z0-9.%+]+@[a-z0-9]+.[a-z]{2,}" #email="ngModel">
            <div class="row" *ngIf="email.touched &&  email.invalid">
                <div class="invalid-feedback d-block" *ngIf="email.errors?.['required']">It is required</div>
                <div class="invalid-feedback d-block" *ngIf="email.errors?.['pattern']">Please enter the valid Email-Id
                </div>

            </div>
        </div>

        <div class="mb-3">
            <label for="id5" class="form-label">Password:</label>
            <input type="password" class="form-control" id="id5" name="pwd" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%+?&])[A-Za-z\d@$!%*?&]{8,}$" maxlength=8
 minlength="8" #pwd="ngModel">
            <div class="row" *ngIf=" pwd.touched && pwd.invalid ">
                <div class="invalid-feedback d-block" *ngIf="pwd.errors?.['required']">it is required</div>
                <div class="invalid-feedback d-block" *ngIf="pwd.errors?.['pattern']">one uppercase,one special charcter and maximum 8 digits required</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="id6">Date of Birth:</label>&nbsp;
            <input type="date" id="id6" name="dob" ngModel required #dob="ngModel">

        </div>
        <div class="mb-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>

        </div>

        <input type="submit" class="btn btn-primary"  [disabled]="!signupForm.valid">
    </form>
    <div>
        <div><span class="fw-bold">value</span>:&nbsp;{{signupForm.value | json}}</div>
        <div> <span class="fw-bold">touched</span>: &nbsp;{{signupForm.touched }}</div>
        <div> <span class="fw-bold">untouched</span>:&nbsp;{{signupForm.untouched}}</div>
        <div> <span class="fw-bold">dirty</span>:&nbsp;{{signupForm.dirty }}</div>
        <div> <span class="fw-bold">pristine</span>&nbsp;{{signupForm.pristine }}</div>
        <div> <span class="fw-bold">valid</span>:&nbsp;{{signupForm.valid}}</div>
        <div> <span class="fw-bold">invalid</span>:&nbsp;{{signupForm.invalid}}</div>
        
    </div>
</div> -->




<div class="container mt-5 w-50  bg-dark text-white">
    <h3>template form</h3>
    <form #loginform="ngForm" (ngSubmit)="save(loginform)">
        <div>
            <label for="id1" class="form-check-label">first name:</label>
            <input type="text" class="form-control" id="id1" name="fname" ngModel pattern="[A-Z][a-z]{5,}" required #fname="ngModel">
            <div *ngIf="fname.touched && fname.invalid">
                <div *ngIf="fname.errors?.['required']"> required</div>
                <div *ngIf="fname.errors?.['pattern']">enter valid name</div>

            </div>
            <br>
            <label for="id2" class="form-check-label">last name:</label>
            <input type="text" class="form-control" id="id2" name="lname" ngModel required #lname="ngModel">
            <div *ngIf="lname.touched && lname.invalid">
                <div *ngIf="lname.errors?.['required']">*</div>
            </div>
            <br>
            <label for="id3" class="row">age:</label>
            <input type="text" id="id3" name="age" ngModel required #age="ngModel">
            <br>
            <label for="id4" class="row">birthdate:</label>
            <input type="text" id="id1" name="dob" ngModel required #dob="ngModel">
            <br><br>
<button type="submit">login</button>
        </div>
    </form>
</div>