<div class="container w-50 shadow p-5 bg-dark text-white">
    <h3 class="text-center">shopping form</h3>
    <div class="row">
        <form [formGroup]="productform" (ngSubmit)="save()">
            <div>
                <label for="id1" class="form-label">Category</label>
                <input type="text" class="form-control" name="category" id="id1" formControlName="category" >
            </div>
            <div>
                <label for="id2" class="form-label">Product Name</label>
                <input type="text"  class="form-control" name="pname" id="id2" formControlName="pname">
            </div>
            <div>
                <label for="id3" class="form-label">Price</label>
                <input type="number" class="form-control"id="id3" formControlName="price" (input)="gettotal()" >
            </div>
            <div>
                <label for="id4" class="form-label">Quantity</label>
                <input type="number" class="form-control"  id="id4" formControlName="quantity" (input)="gettotal()">
            </div>
            <div>
                <label for="id5" class="form-label">Total Price</label>
                <input type="number" class="form-control"  id="id5"  formControlName="total" readonly  >
            </div>
            <!-- <input type="submit" class="btn btn-primary" >&nbsp; &nbsp; -->
    <br>
            <button type="button" (click)="getdata()">Get Data</button>
    &nbsp;
            <button (click)="reset()">reset</button>
        
        </form>
    </div>
    
    </div>